/* Locally bundled Google Fonts; licenses in assets/fonts/. */
@font-face {
  font-family: 'Allura';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/b7558fa01d2f7f16.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/374c6c52ce838c05.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/bb8f3c3b0ca40380.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(assets/fonts/75407d22188550d6.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(assets/fonts/705776b6237d1fd4.ttf) format('truetype');
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/a078ae0a9db706cf.ttf) format('truetype');
}
@font-face {
  font-family: 'Gowun Batang';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(assets/fonts/d93743c987838c6d.ttf) format('truetype');
}
@font-face {
  font-family: 'Gowun Dodum';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/591fb46e7abb537c.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/96cf68ad83894061.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(assets/fonts/efae703531c89eeb.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(assets/fonts/bcc2c8b38b3be4ef.ttf) format('truetype');
}
